<div class="container">
  <h1>Committees</h1>
  <h4>Sort by:</h4>

  <button class="btn btn-lg btn-show">{{#link-to 'index'}}Home{{/link-to}}</button>
  <button class="btn btn-lg btn-show"{{action 'showSenateCommittees'}}>Senate</button>
  <button class="btn btn-lg btn-show"{{action 'showHouseCommittees'}}>House</button>
</div>
<br>


<div class="container">
  <ul>
    {{#each model as |committee|}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{committee.name}}</h3>
        </div>
        <div class="panel-body">
          <p>More Info</p>
        </div>
      </div>
    {{/each}}
  </ul>
</div>
